.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 500px;
  margin: 0 auto;
  border-radius: 5px;
  position: relative;
  bottom: 25px;
}

@media screen and (max-width: 650px) {
  .container {
    width: auto;
    align-items: stretch;
    padding-inline: 20px;
  }
}
