form {
  display: flex;
  flex-direction: column;
}

.todoInput {
  width: 600px;
  height: 66px;
  border: none;
  border-radius: 5px;
  text-indent: 10px;
  transition: all 0.2s ease-in;
  background-color: var(--componentColor);
  color: var(--secondaryFontColor);
}

.todoInput:focus {
  outline: none;
}

.errorMessage {
  padding: 5px 0px 0px 10px;
  font-weight: 700;
  color: #ec5353;
}

@media screen and (max-width: 650px) {
  .todoInput {
    width: auto;
  }
}
