form {
  display: flex;
  flex-direction: column;
}

.todoInput {
  width: 500px;
  height: 66px;
  border: none;
  border-radius: 5px;
  text-indent: 10px;
  background-color: var(--veryDarkDesaturatedBlue);
  color: white;
}

.todoInput:focus {
  outline: none;
}

.errorMessage {
  padding: 5px 0px 0px 10px;
  font-weight: 700;
  color: #ec5353;
}
