.filter {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 0 auto;
  width: 500px;
  font-size: 1.2rem;
  position: relative;
  bottom: 25px;
  padding: 10px 20px;
  border-bottom-right-radius: 5px;
  border-bottom-left-radius: 5px;
  background-color: var(--componentColor);
}

.filter > * {
  color: var(--secondaryFontColor);
}

.filterButton,
.filterButtonActive {
  font-weight: 700;
  &::first-letter {
    text-transform: capitalize;
  }
}
.filterButton {
  color: var(--secondaryFontColor);

  &:hover {
    color: var(--buttonHover);
  }
}

.filterButtonActive {
  color: var(--buttonActive);
}

.clearButton:hover {
  color: var(--buttonHover);
}
