header {
  display: flex;
  justify-content: space-between;
  width: 500px;
}

h1 {
  font-family: var(--fontMain);
  font-size: 4.8rem;
  color: white;
}

button {
  background: none;
  border: none;
}
