@import url("https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,100..700;1,100..700&display=swap");

:root {
  --fontMain: "Josefin Sans";
  --checkBackground: linear-gradient(
    135deg,
    hsl(192deg 100% 67%) 0%,
    hsl(199deg 99% 67%) 8%,
    hsl(207deg 98% 67%) 17%,
    hsl(214deg 96% 66%) 25%,
    hsl(221deg 95% 66%) 33%,
    hsl(229deg 94% 66%) 42%,
    hsl(236deg 93% 66%) 50%,
    hsl(244deg 92% 66%) 58%,
    hsl(251deg 91% 66%) 67%,
    hsl(258deg 90% 65%) 75%,
    hsl(266deg 89% 65%) 83%,
    hsl(273deg 88% 65%) 92%,
    hsl(280deg 87% 65%) 100%
  );
  --buttonActive: hsl(220, 98%, 61%);
  --buttonHover: hsl(236, 33%, 92%);
  --backgroundColor: hsl(235, 21%, 11%);
  --componentColor: hsl(235, 24%, 19%);
  --fontColor: hsl(234, 39%, 85%);
  --secondaryFontColor: hsl(236, 9%, 61%);
  --backgroundImage: url("./bg-desktop-dark.jpg");
  --borderColor: hsl(233, 14%, 35%);
}

[data-theme="light"] {
  --buttonHover: hsl(235, 19%, 35%);
  --backgroundColor: hsl(236, 33%, 92%);
  --componentColor: hsl(0, 0%, 98%);
  --fontColor: hsl(235, 19%, 35%);
  --backgroundImage: url("./bg-desktop-light.jpg");
  --borderColor: hsl(236, 9%, 61%);
}
