@import "./style/reset.css";
@import "./style/variables.css";

* {
  font-family: "Josefin Sans";
  box-sizing: border-box;
}

.app {
  transition: background-color 0.2s ease-in;
  background-color: var(--backgroundColor);
  height: 100vh;
}

button {
  background: none;
  border: none;
  cursor: pointer;
}
